body {
    background-color: rgb(215, 223, 240);
}

#main {
    margin: 50px auto;
    padding: 15px;
    width: 80vw;
    box-shadow: 2px 2px 10px 3px rgb(143, 134, 134);
    background-color: rgb(250, 247, 242);
}

.form-select {
    width: 20vw;
    background-color: rgb(236, 223, 223);
}

#btn-primary {
    width: 20vw;
}

#saat {
    width: 10vw;
    height: 8vh;
    background: black;
    color: #17D4FE;
    font-family: Orbitron;
    font-size: 5vw;
}

p {
    background-color: rgb(201, 237, 238);
}

#saat-ekrani {
    text-align: center;
    margin-top: 30px;
}